:root {
    --header-color: #ff725e; /* Define the custom property */
}

.jp_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
}

.header_name {
    color: var(--header-color);
    margin-right: auto;
    font-weight: bold;
}

.header_nav button {
    background: none;
    border: none;
    color: var(--header-color);
    padding: 0.3rem 0.9rem; /* Converted from px to rem */
    border-radius: 1.25rem; /* Converted from px to rem */
    margin: 0 0.625rem; /* Converted from px to rem */
    font-weight: 600;
    cursor: pointer;
}

.header_nav button:hover,
.header_nav button.active {
    background: var(--header-color);
    color: white;
}
